<body>
    <img src="assets/images/po4.jpg" >
    <div class="text-block">
        <h4>Bienvenue au PSportive</h4>
        
        <p>PSportive est un média digital marocain généraliste né à la fois d’une passion et d’une vision. Une passion pour le journalisme et pour la culture participative et sociale du web. Une vision, celle de proposer l’essentiel des événements, des sujets, des débats… qui font l’actualité au Maroc.
            PSportive c’est cette belle rencontre entre des professionnels des médias et des investisseurs qui partagent la même passion, la même vision et les mêmes valeurs. L’ambition des fondateurs est d’offrir une plateforme d’information digitale professionnelle, crédible, évolutive et correspondant aux meilleurs standards internationaux.</p>
            <p><small>Tous droits réservés &#169; </small></p>
        </div>
    </body>

