<nav class="navbar navbar-expand-sm navbar-custom fixed-top">
    <img class="im" style="width: 10%;" src="../assets/images/ps.jpg"/>
    <a routerLink="" class="navbar-brand" style="margin-right: 40%;">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="#">Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Dietetics">Dietetics</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" routerLink="/mentions-legal">Mentions Légales</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Autres
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/FootBall">FootBall</a>
                    <a class="dropdown-item" routerLink="/Tennis">Tennis</a>
                    <a class="dropdown-item" routerLink="/Golf">Golf</a>
                    <a class="dropdown-item" routerLink="/Cyclisme">Cyclisme</a>
                </div>
            </li>
        </ul>
    </div>
  </nav>