
<h1>Tennis</h1>

<section   id="news">
  <h1 id="header"><b>Football</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/flz2SBjNFYg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/--h92N788YQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/4Vg5sSp1bBc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7CrVmeJjXko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>

<section   id="news">
  <h1 id="header"><b>Tenis</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/g5oR-cBN7Pk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bKj8fp2-ap4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/4Vg5sSp1bBc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>Titre</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7CrVmeJjXko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>
