
<div style="margin-bottom: 8%;" ></div>

<section   id="news">
  <h1 id="header"><b>Football</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>Football / CHAN 2021 : le Maroc rejoint le Mali en finale</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/flz2SBjNFYg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>Finale CHAN 2021: Maroc vs Mali, un choc des titans !</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/--h92N788YQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>CHAN 2020 - Ouganda 2-5 Maroc : Résumé du match</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/4Vg5sSp1bBc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>La conférence de presse de M. Al Hussein Amouta avant le match au Mali</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7CrVmeJjXko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>

<section   id="news">
  <h1 id="header"><b>Tennis</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>Vidéo de recrutement de tennis universitaire - Mohamed Zakaria Khalil</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/g5oR-cBN7Pk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>TENNIS au MAROC années 1955 à 65 - Rabat et Kénitra</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bKj8fp2-ap4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>Hicham El Khiat, nous livre ses "4 vérités" sur le tennis marocain!</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/fX3zEXJANZE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>Le360.ma • Hamza El Amine: Champion du Maroc de tennis U12</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ik4t-9G6Kr8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>
<section   id="news">
  <h1 id="header"><b>Golf</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>DIRECT NEWS à Marrakech avec Nicolas Barraud, Al Maaden Golf Marrakech</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/0731FT8jmXw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>Michlifen: un golf unique au Maroc</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/je22mnv_TbI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>REVUE DES COURS ASSOUFID PARTIE 2 - Le terrain de golf mord! [Circuit de golf au Maroc]</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/-REpnTgbhTI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>coursgolfmaroc: comment vous démarrez votre swing de golf</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/M414V09oAvM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>

<section   id="news">
  <h1 id="header"><b>Cyclisme</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>Tour cycliste du Maroc : Les coureurs expliquent les raisons de leur retrait</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/o3dYOtDCPLU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>Cycling videos - Tour du Maroc 2017</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ofTA29VHjAA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>Le tour de Mauritanie : une compétition cycliste marque la reprise du tourisme</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/alWHYm1EQXo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>Tour du Maroc, stage 1</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/gDgrHct-Ur8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>
