<br>
<div style="margin-bottom: 8%;" ></div>

<section   id="news">
  <h1 id="header"><b>Football</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>Préparation physique au FOOTBALL - ÉTÉ 2020</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/aZ3IueMKcbI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>Deviens un MEILLEUR DRIBBLEUR avec ces 3 EXERCICES</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hk1q3iSbH-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>Ultra Technique avec 10 Exercices - Entraînement Football</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/PR_DCsGaycs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>Comment S'entraîner Seul et Sans Matériel? Technique et Explosivité</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/x-Mxs732tg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>

<section   id="news">
  <h1 id="header"><b>Tennis</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>Analyse d'un entrainement pro de P2H - Progresser au tennis</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/xDzjI1BQAG4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>La Méthode Pour S'ENTRAÎNER TOUT SEUL au Tennis (à mettre en place MAINTENANT)</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oKkgpSPf2-4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>Capacité vitesse et résistance au tennis</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/aTYEl1P0oUY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>Exemples d'exercices pour l'échauffement avant de jouer au tennis, match ou entraînement</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Dydo8AvO7Fw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>
<section   id="news">
  <h1 id="header"><b>Golf</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>L'entrainement physique au golf! 15 minutes sans équipement nécessaire. Développez votre puissance!</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/0JpS_e6jRN8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>3 exercices Physique pour être efficace dans son swing - cours de golf physique en ligne</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nRTasBK77ZY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>S'entrainer au golf à la maison</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/sEoiQbzFq9o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>2 conseils pour bien chipper. Cours de golf proposé par Renaud Poupard</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/gWHsjCp8Cq0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>

<section   id="news">
  <h1 id="header"><b>Cyclisme</b></h1><hr>

              <a href="" style="display: inline-block;"   class="content">
                  <p style="font-size: 10px;color: black;"><b>MAGNIFIQUE Entraînement en côte avec Warren Barguil, coureur cycliste English</b></p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/zcU3j1zQRDg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </a>

                  <a href="" style="display: inline-block;"   class="content">
                    <p style="font-size: 10px;color: black;"><b>Cyclisme: L'équipe de Direct Énergie en mode entraînement</b></p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/svSM3051IC8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                    <br>
                    <a href="" style="display: inline-block;"   class="content">
                      <p style="font-size: 10px;color: black;"><b>💪 TRAVAILLER LA FORCE EN VÉLO + 1 séance avec EXERCICES de force adaptable sur home trainer</b></p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/cu2tT8Q2Nlg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </a>

                      <a href="" style="display: inline-block;"   class="content">
                        <p style="font-size: 10px;color: black;"><b>Comment s'entraîner lorsque l'on débute le vélo? (conseils débutant)</b></p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yDLNGeH89_c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </a>

</section>
