
.content{
	display: inline-block;
	padding: 1%;
	margin:1%;
    width: 23%;
	text-align: left;
	font-family: 'Nunito', sans-serif;
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



section#news{
  padding-left:50px;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  background-color:  #F5F5F5;
}
.im{
  transition:transform 2s;
  margin-left:80px;
  margin-top:10px;
}
#news:hover .im{
  transform: scale(1.2);
}
#news .imgBox{
  position:relative;
}

.title {
  text-transform: uppercase;
  text-align: center;
  padding-left: 10px;
  position: relative;
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  margin-top: 20px;

}
